$ git status
*.bin
*.bin.syn0.npy
*.bin.sy1neg.npy
*.csv
*.json
*.bib
*.pickle
*.jsonlines
*.hdf5
*.h5
*.txt
*.npy
*.mm
*.mm.index
*.dict
*.ods
*.xls
*.xlsx
./content/Datasets/
./content/Data/
./content/Models/
./notes/
